<%= form_for @issue_link do |f| %>
	<% if @issue_link.errors.any? %>
		<div class="error_explanation">
			<h2>
				<%= pluralize(@issue_link.errors.count, "error") %> prohibited this article from being saved:
			</h2>
			<ul>
				<% @issue_link.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

    <p>
        <%= f.text_field :issue_link, placeholder: 'Link...' %>
		<%= f.hidden_field :thumbnail_link, value: '' %>
		<%= f.hidden_field :title, value: '' %>
		<%= f.hidden_field :date, value: '' %>
    </p>

	<p>
		<%= f.submit "Publish", class: 'btn btn-success', data: { confirm: 'Are you sure you want to publish?' } %>
	</p>

<% end %>
