<div class="container page-body-container">

	<div class="row features">
		<div class="col-md-3 col-lg-3 col-xs-12">
			<div class="latest-issue">
				<% unless @latest_issue.blank? %>
					<h4>Latest Issue</h4>
					<%= link_to issue_link_path(@latest_issue) do %>
						<div class="latest-issue-link">
							<div class="link-image">
				                <%= image_tag(@latest_issue.thumbnail_link) %>
				            </div>
							<h4 class="latest-issue-title"><%= @latest_issue.title %></h4>
						</div>
					<% end %>
				<% else %>
					No latest issue
				<% end %>
			</div>
		</div>
		<div class="col-md-5 col-lg-5 col-xs-12">
			<% unless @featured_1.blank? %>
				<%= link_to article_path(@featured_1.id) do %>
					<div class="featured-1">
						<div class="headline-img">
							<% unless @featured_1.photo.url.blank? %>
								<%= image_tag @featured_1.photo.url %>
							<% end %>
						</div>
						<% unless @featured_1.title.blank? %>
							<h3 class="headline-title"><%= @featured_1.title %></h3>
						<% end %>
						<% unless @featured_1.content.blank? %>
							<p class="headline-text"><%= @featured_1.content.first(200) %>...</p>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-4 col-lg-4 visible-md visible-lg secondary-features">
			<% unless @featured_2.blank? %>
				<%= link_to article_path(@featured_2.id) do %>
					<div class="featured-2">
						<h3 class="featured-2-title"><%= @featured_2.title %></h3>
						<p class="featured-2-text"><%= @featured_2.content.first(200) %>...</p>
					</div>
				<% end %>
			<% end %>
			<% unless @featured_3.blank? %>
				<%= link_to article_path(@featured_3.id) do %>
					<div class="featured-3">
						<h3 class="featured-2-title"><%= @featured_3.title %></h3>
						<p class="featured-2-text"><%= @featured_3.content.first(200) %>...</p>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="row articles-list">
		<div class="col-md-1 col-lg-1"></div>
		<div class="col-md-8 col-lg-8">
			<% unless @articles.empty? || !@articles %>
				<% @articles.each do |article| %>
					<h2><%= link_to article.title, article_path(article) %></h2>
				<% end %>
			<% else %>
				<h3>No articles</h3>
			<% end %>
		</div>
	</div>

</div>
