<div class="container">
	<% if editor_signed_in? && is_verified_editor? %>
		<div class="row">
			<div class="col-md-3 col-lg-3"></div>
			<div class="col-md-8 col-lg-8 article-edit-buttons">
				<%= bootstrap_form_for(feature_article_path(@article), layout: :inline) do |f| %>
					<%= f.select :feature, [['Headline', 1],['Subheadline 1', 2],['Subheadline 2', 3]] %>
					<%= f.submit :Submit %>
				<% end %>
				<%= button_to("Delete", { action: 'destroy', id: @article.id },
												method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger delete-button') %>
				<%= button_to("Edit", { action: 'edit', id: @article.id }, method: :get, class: 'btn btn-primary edit-button') %>
			</div>
			<div class="col-md-1 col-lg-1"></div>
		</div>
	<% end %>

	<div class="row">
		<div class="col-md-12 col-lg-12">
			<h1 class="article-title"><%= @article.title %></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 col-lg-3 article-meta-data">
			<% unless @article.author_name.nil? %>
				<h3><%= @article.author_name %></h3>
			<% end %>
			<p><%= @article.created_at.strftime("%d/%m/%Y") %></p>
		</div>
		<% unless @article.photo.url.blank? %>
			<div class="col-md-8 col-lg-8 article-photo">
				<%= image_tag @article.photo.url %>
			</div>
			<div class="col-md-1 col-lg-1"></div>
		<% end %>
	</div>


	<div class="row">
		<div class="col-md-3 col-lg-3"></div>
		<div class="col-md-8 col-lg-8 article-content">
    	<%= simple_format(@article.content) %>
			<%= social_share_button_tag(@article.title) %>
			<% if editor_signed_in? && is_verified_editor? %>
				<div class="page-views">Page Views: <%= @article_views %></div>
			<% end %>
		</div>
		<div class="col-md-1 col-lg-1"></div>
	</div>
</div>
