<div class="container">
	<% if editor_signed_in? %>
		<div class="row">
			<div class="col-md-3 col-lg-3"></div>
			<div class="col-md-8 col-lg-8 article-edit-buttons">
				<%= bootstrap_form_for(feature_article_path(@article), layout: :inline) do |f| %>
					<%= f.select :feature, [['Headline', 1],['Subheadline 1', 2],['Subheadline 2', 3]] %>
					<%= f.submit :Submit %>
				<% end %>
				<%= button_to("Delete", { action: 'destroy', id: @article.id },
												method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger delete-button') %>
				<%= button_to("Edit", { action: 'edit', id: @article.id }, method: :get, class: 'btn btn-primary edit-button') %>
			</div>
			<div class="col-md-1 col-lg-1"></div>
		</div>
	<% end %>

	<div class="row">
		<div class="col-md-12 col-lg-12">
			<h1 class="article-title"><%= @article.title %></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 col-lg-2 article-meta-data">
			<% unless @article.author_name.nil? %>
				<h3><%= @article.author_name %></h3>
			<% end %>
			<p><%= @article.created_at.strftime("%d/%m/%Y") %></p>
		</div>

		<div class="col-md-10 col-lg-10">
			<div class="row">
				<% unless @article.photo.url.blank? %>
					<div class="col-md-8 col-lg-8 article-photo">
						<%= image_tag @article.photo.url %>
					</div>
					<% unless @latest_articles.blank? %>
						<div class="col-md-3 col-lg-3 latest-articles visible-md visible-lg">
							<h4>Latest Articles</h4>
							<ul>
								<% @latest_articles.each do |article| %>
									<%= link_to article_path(article) do %>
										<li>
											<% unless article.photo.url.blank? %>
												<%= image_tag article.photo.url %>
											<% end %>
											<span>
												<%= article.title %>
											</span>
										</li>
									<% end %>
								<% end %>
							</ul>
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="row">
				<div class="col-md-8 col-lg-8 col-sm-12 article-content">
		    		<%= simple_format(@article.content) %>
					<%= social_share_button_tag(@article.title, :image => !@article.photo.url.blank? ? @article.photo.url : '') %>
					<% if editor_signed_in? %>
						<div class="page-views">Page Views: <%= @article_views %></div>
					<% end %>
				</div>
				<% if @article.photo.url.blank? %>
					<% unless @latest_articles.blank? %>
						<div class="col-md-3 col-lg-3 latest-articles visible-md visible-lg">
							<h4>Latest Articles</h4>
							<ul>
								<% @latest_articles.each do |article| %>
									<%= link_to article_path(article) do %>
										<li>
											<% unless article.photo.url.blank? %>
												<%= image_tag article.photo.url %>
											<% end %>
											<span>
												<%= article.title %>
											</span>
										</li>
									<% end %>
								<% end %>
							</ul>
						</div>
					<% end %>
				<% end %>
			</div>

			<% unless @featured_articles.blank? %>
				<div class="row featured-articles visible-md visible-lg">
					<div class="col-lg-9 col-md-9">
						<h4>Featured Articles</h4>
						<ul>
							<% @featured_articles.each do |feature| %>
								<%= link_to article_path(feature) do %>
									<li>
										<% unless feature.photo.url.blank? %>
											<%= image_tag feature.photo.url %>
										<% end %>
										<div>
											<%= feature.title %>
										</div>
									</li>
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<% unless @featured_articles.blank? %>
		<div class="row featured-articles visible-sm">
			<div class="col-sm-12">
				<h4>Featured Articles</h4>
				<ul>
					<% @featured_articles.each do |feature| %>
						<%= link_to article_path(feature) do %>
							<li>
								<% unless feature.photo.url.blank? %>
									<%= image_tag feature.photo.url %>
								<% end %>
								<div>
									<%= feature.title %>
								</div>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>
</div>
