<div class="header">

	<div class="errors">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>

	<div class="page_header">
		<%= link_to root_path do %>
			<h1 class="piranha_title">The Piranha</h1>
		<% end %>
		<ul>
			<li>
				<%= form_tag({:controller => 'search', :action => 'search'}, {:class => "search-form"}) do %>
        			<%= text_field_tag :search, params[:search], class: "search", placeholder: "Search..." %>
				<% end %>
			</li>
			<li><%= link_to 'Archive', issue_links_path %></li>
			<% unless admin_signed_in? %>
				<li><%= link_to 'Log in', '/admins/sign_in' %></li>
			<% else %>
				<li><%= link_to 'Admin', admin_path %></li>
				<li><%= link_to 'Log out', destroy_admin_session_path, :method => :delete %></li>
			<% end %>
		</ul>
	</div>

</div>
