<div class="header">

	<div class="errors">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>

	<div class="page_header">
		<%= link_to root_path do %>
			<div class="piranha_title">
				<%= image_tag('Piranha Logo PNG.png') %>
			</div>
		<% end %>
		<ul>

			<% if !(admin_signed_in? || editor_signed_in?) %>
				<li id="admin-login"><%= link_to 'ADMIN LOGIN', new_admin_session_path %></li>
				<li id="editor-login"><%= link_to 'EDITOR LOGIN', new_editor_session_path %></li>
			<% elsif admin_signed_in? %>
				<li id="log-out">
					<%= link_to destroy_admin_session_path, :method => :delete do %>
						<div class="glyphicon glyphicon-off"></div>
					<% end %>
				</li>
				<li id="admin"><%= link_to 'ADMIN', admin_path %></li>
			<% elsif editor_signed_in? %>
				<li id="log-out">
					<%= link_to destroy_editor_session_path, :method => :delete do %>
						<div class="glyphicon glyphicon-off"></div>
					<% end %>
				</li>
				<li id="admin"><%= link_to 'EDITOR', editor_path %></li>
			<% end %>
			<li id="issues"><%= link_to 'ISSUES', issue_links_path %></li>
			<li id="search-box">
				<%= form_tag(search_path, {:class => "search-form", :method => :get}) do %>
        			<%= text_field_tag :search, params[:search], class: "search", placeholder: "Search..." %>
				<% end %>
			</li>
		</ul>
	</div>

</div>
