<div class="header">

	<div class="errors">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>

	<div class="page_header">
		<%= link_to root_path do %>
			<div class="piranha_title">
				<%= image_tag('Piranha Logo PNG.png') %>
			</div>
		<% end %>
		<ul>
			<li>
				<%= form_tag(search_path, {:class => "search-form", :method => :get}) do %>
        			<%= text_field_tag :search, params[:search], class: "search", placeholder: "Search..." %>
				<% end %>
			</li>
			<li><%= link_to 'Archive', issue_links_path %></li>
			<% if !(admin_signed_in? || editor_signed_in?) %>
				<li><%= link_to 'Admin Log In', new_admin_session_path %></li>
				<li><%= link_to 'Editor Log In', new_editor_session_path %></li>
			<% elsif admin_signed_in? %>
				<li><%= link_to 'Admin', admin_path %></li>
				<li><%= link_to 'Log out', destroy_admin_session_path, :method => :delete %></li>
			<% elsif editor_signed_in? %>
				<li><%= link_to 'Editor', editor_path %></li>
				<li><%= link_to 'Log out', destroy_editor_session_path, :method => :delete %></li>
			<% end %>
		</ul>
	</div>

</div>
