<div class="header">

	<div class="errors">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>

	<div class="page_header">
		<div class ="row">
			<%= link_to root_path do %>
				<div class="col-md-3 col-lg-3 col-xs-12 piranha_title">
					<%= image_tag('Piranha Logo PNG.png') %>
				</div>
			<% end %>
			<div class="col-md-9 col-lg-9 visible-lg visible-md desktop-header">
				<ul>
					<% if !(admin_signed_in? || editor_signed_in?) %>
						<li id="admin-login"><%= link_to 'ADMIN LOGIN', new_admin_session_path %></li>
						<li id="editor-login"><%= link_to 'EDITOR LOGIN', new_editor_session_path %></li>
					<% elsif admin_signed_in? %>
						<li id="log-out">
							<%= link_to destroy_admin_session_path, :method => :delete do %>
								<div class="glyphicon glyphicon-off"></div>
							<% end %>
						</li>
						<li id="admin"><%= link_to 'ADMIN', admin_path %></li>
					<% elsif editor_signed_in? %>
						<li id="log-out">
							<%= link_to destroy_editor_session_path, :method => :delete do %>
								<div class="glyphicon glyphicon-off"></div>
							<% end %>
						</li>
						<li id="admin"><%= link_to 'EDITOR', editor_path %></li>
					<% end %>
					<li><%= link_to 'CONTACT', contacts_path %></li>
					<li><%= link_to 'ABOUT US', about_path %></li>
					<li id="issues"><%= link_to 'ALL ISSUES', issue_links_path %></li>
					<li id="search-box">
						<%= form_tag(search_path, {:class => "search-form", :method => :get}) do %>
		        			<%= text_field_tag :search, params[:search], class: "search", placeholder: "Search..." %>
						<% end %>
					</li>
				</ul>
			</div>
			<nav class="navbar navbar-default navbar-fixed-top collapse navbar-collapse visible-xs">
  				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
				      	</button>
    				</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav nav-stacked">
							<li><%= link_to 'HOME', root_path %></li>
							<li><%= link_to 'ALL ISSUES', issue_links_path %></li>
							<li><%= link_to 'ABOUT US', about_path %></li>
							<li><%= link_to 'CONTACT', contacts_path %></li>
							<% if !(admin_signed_in? || editor_signed_in?) %>
								<li><%= link_to 'EDITOR LOGIN', new_editor_session_path %></li>
								<li><%= link_to 'ADMIN LOGIN', new_admin_session_path %></li>
							<% elsif admin_signed_in? %>
								<li><%= link_to 'ADMIN', admin_path %></li>
								<li>
									<%= link_to destroy_admin_session_path, :method => :delete do %>
										<div class="glyphicon glyphicon-off"></div>
									<% end %>
								</li>
							<% elsif editor_signed_in? %>
								<li><%= link_to 'EDITOR', editor_path %></li>
								<li>
									<%= link_to destroy_editor_session_path, :method => :delete do %>
										<div class="glyphicon glyphicon-off"></div>
									<% end %>
								</li>
							<% end %>
							<li id="search-box">
								<%= form_tag(search_path, {:class => "search-form", :method => :get}) do %>
				        			<%= text_field_tag :search, params[:search], class: "search", placeholder: "Search..." %>
								<% end %>
							</li>
						</ul>
					</ul>
  				</div>
			</nav>
		</div>
	</div>

</div>
